*{
    margin: 0;
    padding: 0;
    /* outline: 1px solid rgb(79, 79, 79); */
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.cards_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10% 10%;
}
a{
    text-decoration: none;
}
.card{
    width: 300px;
    background-color: #42414d;
    border-radius: 20px;
}
.card_image{
    width: 100%;
    position: relative;
}
.image{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card:hover .label{
    display: block;
}
.label {
    /* display: none; */
    background-color: red;
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;

    position: absolute;
    top: 30px;
    left: 0;
}
.card_body{
    padding: 15px;
}

.card_details{
    color: gray;
}
.card_title{
    color: #fff;
    padding: 5px 0;
}
.card_description{
    color: #ffffffc4;
}